
.container {
	background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_form {
  width: 30%;
  height: 450px;
  background-color: #fff;
  margin-top: 3rem;
  border-radius: 12px;
  min-width: 20%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: red;
  margin-top: 15px;
}

.signIn {
  background: blue;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.65rem;
  border-radius: 4px;
  color: white;
}

.input {
  padding: 15px;
  margin: 20px;
  font-size: 20px;
}

.content {
  font-size: 15px;
  opacity: 0.8;
  padding-left: 25px;
  margin-top: 10px;
}

.signUp {
  color: blue;
  font-size: 18px;
  padding-left: 25px;
}